{
	"CliCmd":"ossim-cli",
	"PzAddr":"https://pz-gateway.venicegeo.io",
	"SvcName":"BF_Algo_NDWI",
	"Url":"https://pzsvc-ossim.venicegeo.io",
	"Description":"<a href = 'https://redmine.devops.geointservices.io/attachments/download/351/NDWI_in_OSSIM.pdf' target = '_blank'>Shoreline Detection in OSSIM Using NDWI Algorithm.</a>",
	"Attributes":{}
}
