{
	"CliCmd":"ossim-cli",
	"VersionStr":"0.0",
	"PzAddr":"https://pz-gateway.int.geointservices.io",
	"SvcName":"BF_Algo_NDWI",
	"URL":"https://pzsvc-ossim.int.geointservices.io",
	"Description":"<a href = 'https://redmine.devops.geointservices.io/attachments/download/351/NDWI_in_OSSIM.pdf' target = '_blank'>Shoreline Detection in OSSIM using NDWI Algorithm.</a>",
	"AuthEnVar":"PZ_AUTH",
	"ImageReqs":{
            "cloudCover":"10",
            "Bands":"coastal,swir1"
        },
        "Attributes":{
            "Interface":"pzsvc-exec/exec",
            "arbAttribute":"goes here"
        }
}
