{
	"CliCmd":"ossim-cli",
	"VersionStr":"0.0",
	"PzAddr":"https://pz-gateway.stage.geointservices.io",
	"SvcName":"BF_Algo_NDWI",
	"URL":"https://pzsvc-ossim.stage.geointservices.io",
	"Description":"The normalized difference water index (NDWI) algorithm as implemented in OSSIM follows the commonly published equation for combining green and infrared bands in multispectral satellite imagery for the detection of water bodies.  This equation is applied on each pixel of the input image to generate a NDWI, single-band, raster product image.",
	"AuthEnVar":"",
        "Attributes":{
            "ImgReq - cloudCover":"10",
            "ImgReq - bands":"coastal,swir1",
            "SvcType":"beachfront",
            "Interface":"pzsvc-ossim",
            "ArbAttribute":"oh, so very arbitrary"
        }
}
